/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp F  &kp P  &kp B     &kp J      &kp L    &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp TAB     &none  &none  &none  &none  &kp G     &kp M      &none    &none      &none    &none     &kp SQT
&kp LCTRL   &kp Z  &kp X  &kp C  &kp D  &kp V     &kp K      &kp H    &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                          &mo 2  &mo 1  &trans    &kp SPACE  &kp RET  &trans
            >;
        };

        layer_1 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &trans         &trans    &kp UP_ARROW  &trans     &trans  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &trans         &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans   &trans   &trans     &trans         &trans    &trans        &trans     &trans  &trans
                        &trans   &trans   &trans     &kp BACKSPACE  &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans        &trans  &trans          &trans    &trans        &kp NUMBER_7       &kp NUMBER_8     &kp NUMBER_9  &trans  &trans
&trans  &trans  &kp LEFT_ALT  &trans  &kp LEFT_SHIFT  &trans    &trans        &kp NUMBER_4       &kp NUMBER_5     &kp NUMBER_6  &trans  &trans
&trans  &trans  &trans        &trans  &trans          &trans    &kp NUMBER_0  &mt EXCL NUMBER_1  &mt AT NUMBER_2  &kp NUMBER_3  &trans  &trans
                              &trans  &trans          &trans    &trans        &trans             &trans
            >;
        };
    };
};
